@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  background-color: #fff;
}

/*DASH*/
/*Main buttons*/
#btn_totalCases, #btn_totalRecovered, #btn_totalDeaths, #btn_totalActive{
  width: 150px;
  height: 150px;
  font-size: 100px;
  border-radius: 10px;
}
#btn_totalCases {
  color: #ff6600;
  background-color: #ffffff;
  border-color: #ffffff;
}

#btn_totalCases:hover {
  color: #cc5200;
  background-color: #e6e6e6;
}

#btn_totalRecovered{
  color: #0066ff;
  background-color: #ffffff;
  border-color: #ffffff;
}

#btn_totalRecovered:hover {
  color: #0052cc;
  background-color: #e6e6e6;
}

#btn_totalDeaths{
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ffffff;
}

#btn_totalDeaths:hover{
  color: #cc0000;
  background-color: #e6e6e6;
}

#btn_totalActive{
  color: #00ff99;
  background-color: #ffffff;
  border-color: #ffffff;
}
#btn_totalActive:hover {
  color: #00cc7a;
  background-color: #e6e6e6;
}


#btn_plots, #btn_virus,#btn_about{
  width: 130px;
  height: 130px;
  font-size: 70px;
  color: #0066ff;
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #ffffff;
  
}
#btn_plots:hover, #btn_virus:hover{
  color: #0052cc;
  background-color: #e6e6e6;
}

#increase {
  color:#808080;
}

#cases_text {
  color:#ff6600;
  font-weight: bold;
}
#recovered_text {
  color:#3399ff;
  font-weight: bold;
}

#deaths_text {
  color:#ff0000;
  font-weight: bold;
}
#activecases_text {
  color:#00e6ac;
  font-weight: bold;
}
#info-label {
  color:#808080;
}


#sort_downIcon {
  color: #00ff00;
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 30px;
}

#sort_upIcon {
  color: #ff0000;
  background-color: #ffffff;
  border-color: #ffffff;
  font-size: 30px;
}


/*Forecast PAGE*/
.nav-tabs-custom .nav-tabs li.active:hover a, .nav-tabs-custom .nav-tabs li.active a {
     background-color: transparent;
     border-color: transparent;
}

.nav-tabs-custom .nav-tabs li.active {
     border-top-color: #FFF;
}

#plotControlsPanel {
  background-color: #f2f2f2;
}

#data_component {
  color:#cc3300;
  font-weight: bold;
}
#seasonal_component {
  color:#0066cc;
  font-weight: bold;
}

#trend_component {
  color:#00cc66;
  font-weight: bold;
}

#remainder_component{
  color: #e6e600;
  font-weight: bold;
}

/*MAP*/

#stats {
  /* Appearance */
  background-color: white;
  padding: 0 50px 10px 10px;
  cursor: move;
  opacity: 0.7;
  transition: opacity 500ms 1s;
}
#stats.thick {
  font-weight: bold;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 50px 10px 10px;
  cursor: move;
  opacity: 0.7;
  transition: opacity 500ms 1s;
}

#map-info-new { 
  padding-left: 10px;
  color:#610000;
  font-style: oblique;
}

#map-info-confirmed {
  padding-left: 10px;
  color:#6d4f4f;
  font-style: oblique;
}

#controls-buttons{
  padding-left: 20px;
}

/* Buttons Appearance */
#deaths {
  width: 100px;
  height: 100px;
  font-size: 60px;
  
}

#deaths:hover{
  background-color: #ff5233;
}

#cases{
  width: 100px;
  height: 100px;
  font-size: 60px;
}

#cases:hover{
  background-color: #ff8533;
}

#recovered{
  width: 100px; 
  height: 100px;
  font-size: 60px;
}
  
#recovered:hover{
  background-color: #3385ff;
}

