@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1 {
  font-family: 'Lobster', cursive;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

body {
  background-color: #fff;
}

#stats {
  /* Appearance */
  background-color: white;
  padding: 0 50px 10px 10px;
  cursor: move;
  opacity: 0.7;
  transition: opacity 500ms 1s;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 50px 10px 10px;
  cursor: move;
  opacity: 0.7;
  transition: opacity 500ms 1s;
}

#map-info-new { 
  padding-left: 10px;
  color:#610000;
  font-style: oblique;
}

#map-info-confirmed {
  padding-left: 10px;
  color:#6d4f4f;
  font-style: oblique;
}

#controls-buttons{
  padding-left: 20px;
}